<div class="container">
  <!-- Content here -->
<div class="be-blue white">
<h1>Edit User</h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "Nombre" %>
  </div>

   <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :apellido, autofocus: true, autocomplete: "Apellido" %>
  </div>

  <div class="field">
    <%= f.label :Fecha_de_nacimiento%><br />
    <%= f.date_field :fechanac%>
  </div>

  <div class="field">
    <%= f.label :Correo_electronico %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Correo electronico" %>
  </div>

  <div class="field">
    <%= f.label :Numero_de_tarjeta %><br />
    <%= f.text_field :numtarjeta, autofocus: true, autocomplete: "Numero de tarjeta" %>
  </div>

  <div class="field">
    <% tipos = {'Visa'=>'visa','Mastercard'=>'m'} %>
    <fieldset>
        <% lista = tipos.sort %>
        <%= f.select :tipotarjeta, lista %>
    </fieldset>
  </div>
  
  <div class="field">
    <%= f.label :Titular_de_tarjeta %><br />
    <%= f.text_field :titulartarjeta, autofocus: true, autocomplete: "Titular de tarjeta" %>
  </div>
   
  <div class="field">
    <%= f.label :Fecha_de_vencimiento_de_la_tarjeta%><br />
    <%= f.date_field :fechavenc%>
  </div>

  <div class="field">
    <%= f.label :Clave_de_seguridad_de_la_tarjeta %><br />
    <%= f.password_field :cvv,autofocus: true, autocomplete: "Clave de seguridad de la tarjeta" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Contraseña_nueva %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "Contraseña Nueva" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_nueva_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Repita contraseña" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña_actual %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "Contraseña actual" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar Datos" %>
  </div>
<% end %>

<h3>Borrar cuenta</h3>

<p>Unhappy? <%= button_to "Borrar cuenta", registration_path(resource_name), data: { confirm: "Estas seguro que quieres elimar la cuenta?" }, method: :delete %></p>

<%= link_to "Volver", :back %>
</div>