<div class="container">
  <!-- Content here -->
  <div class="p-3 mb-2 bg-primary text-white">
  <h1>New User</h1>
  </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "Name" %>
  </div>

   <div class="field">
    <%= f.label :Surname %><br />
    <%= f.text_field :apellido, autofocus: true, autocomplete: "Surname" %>
  </div>



  <div class="field">
    <%= f.label :Birthdate%><br />
    <%= f.date_field :fechanac, autofocus: true, autocomplete: "
Birthdate" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :CardNumber %><br />
    <%= f.text_field :numtarjeta, autofocus: true, autocomplete: "CardNumber" %>
  </div>

 <div class="box">
 <%= label_tag :tipousuario, "User Premium" %>    
 <%= f.check_box :tipousuario %>
</div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
