<% if user_signed_in? %>
    <% if current_user.try(:tipousuario?) %>
      <div class="container-fluid">
      <div class="p-3 mb-2 bg-primary text-white">
          <h1> Listado de subastas </h1>
      </div>

      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th>Ciudad</th>
          <th scope="col">Fecha de reserva</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>

          <% @subastas.each do |subasta| %>
            <% fechafin = subasta.fechainicio %>
            <% fechafin += 3 %>
            <% if (Date.today <= fechafin) %>
            <tbody>
                <tr>
                  <th scope="row"><%= subasta.titulo %></th>
                  <% id_home = Reservation.find(subasta.reservation_id).home_id %>
                  <th><%= Home.find(id_home).ciudad %></th>
                  <td><%= Reservation.find(subasta.reservation_id).fecha_ini %></td>

                  <td>
                    <% if subasta.fechainicio > Date.today %>
                      <%= "Comienza: #{subasta.fechainicio}" %><br>
                      <td><%= link_to "Adjudicar!",confirm_path(Reservation.find(subasta.reservation_id)),class: "btn btn-success"%>
                    <% else %>
                      <%if !subasta.try(:adjudicada?) %>
                      <%= "Ya iniciada! Puja Actual: $#{subasta.pujamax}" %> <br>
                      <%="Finaliza: #{subasta.fechainicio + 3.days}" %> <br>
                      <a href="/homes" class="btn btn-success" role="button"> Pujar </button>
                      <%end%>
                    <%end%>
                  </td>
                </tr>
            </tbody>
            <%end%>
          <% end %>
        </table>
    </div>
    <td><%= link_to "Volver",:back,class: "btn btn-primary"%>
    <%else%>
    <div class="container-fluid">
    <div class="p-3 mb-2 bg-primary text-white">
        <h1> Listado de subastas </h1>
    </div>

    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th>Ciudad</th>
        <th scope="col">Fecha de reserva</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>

        <% @subastas.each do |subasta| %>
          <% fechafin = subasta.fechainicio %>
          <% fechafin += 3 %>
          <% if (Date.today <= fechafin) %>
          <tbody>
              <tr>
                <th scope="row"><%= subasta.titulo %></th>
                <% id_home = Reservation.find(subasta.reservation_id).home_id %>
                <th><%= Home.find(id_home).ciudad %></th>
                <td><%= Reservation.find(subasta.reservation_id).fecha_ini %></td>
                <td>
                  <% if subasta.fechainicio > Date.today %>
                    <%= "Comienza: #{subasta.fechainicio}" %> <br>
                    <a href="/homes" class="btn btn-success" role="button"> Quiero ser premium! </button>

                  <% else %>
                    <%= "Ya iniciada" %> <br>
                    <%="Finaliza: #{subasta.fechainicio + 3.days}" %> <br>
                    <a href="/homes" class="btn btn-success" role="button"> Pujar </button>
                  <%end%>
                </td>
              </tr>
          </tbody>
          <%end%>
        <% end %>
      </table>
  </div>
  <td><%= link_to "Volver",:back,class: "btn btn-primary"%>  <%end%>
<%else%>
    <script type="text/javascript">
      window.location.href="/users/sign_in"
    </script>
<%end%>
