<% if user_signed_in? %>
          <% if current_user.try(:tipousuario?) %>

            <%= form_tag auctions_path , method: :get  do %>
              <%= text_field_tag :search, params[:search] , placeholder: "Que estas buscando" %>
              <%= submit_tag "Buscar" ,class: "btn btn-primary" %>
              <br></br>
              <%= label_tag :Fecha_de_inicio, "Fecha de inicio de reserva" %>
              <%= date_field_tag :f_ini, params[:f_ini] , start_year: Date.today.year, :default => nil  %>
              <%= label_tag :Fecha_de_fin, "Fecha fin de reserva" %>
              <%= date_field_tag :f_fin, params[:f_fin] , start_year: Date.today.year , :default => nil %>
            <% end %>

            <% mostrar = true %>
            <% if @fi!=nil && @ff!=nil%>
            <%x = @fi + 2.months%>
            <%if @ff > x %>
              <%= "El rango maximo de la fecha de búsqueda es de 2 meses. " %>
              <% mostrar = false %>
            <%end%>
            <%end%>

            <div class="container-fluid">
            <div class="p-3 mb-2 bg-primary text-white">
                <h1> Listado de subastas </h1>
            </div>

            <table class="table table-dark">
              <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th>Ciudad</th>
                <th scope="col">Fecha de reserva</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>

                <% @subastas.each do |subasta| %>
                  <% fechafin = subasta.fechainicio %>
                  <% fechafin += 3 %>
                  <% if @fi!=nil && @ff!=nil && @h!=nil%>
                      <% @h.each do |home| %>
                      <% if (Date.today <= fechafin) && (!Reservation.find(subasta.reservation_id).try(:adjudicada?)) && Reservation.find(subasta.reservation_id).fecha_ini >= @fi && Reservation.find(subasta.reservation_id).fecha_ini <= @ff && mostrar && home.nombre==Home.find(Reservation.find(subasta.reservation_id).home_id).nombre%>
                              <tbody>
                                  <tr>
                                    <% id_home = Reservation.find(subasta.reservation_id).home_id %>
                                    <th scope="row"><%= Home.find(id_home).nombre %></th>
                                    <th><%= Home.find(id_home).ciudad %></th>
                                    <td><%= Reservation.find(subasta.reservation_id).fecha_ini %></td>

                                    <td>
                                      <% if subasta.fechainicio > Date.today %>
                                        <%= "Comienza: #{subasta.fechainicio}" %><br>
                                        <td><%= link_to "Adjudicarme la reserva",confirm_path(Reservation.find(subasta.reservation_id)),class: "btn btn-success"%>
                                      <% else %>
                                        <%= "Ya iniciada! Puja Actual: $#{subasta.pujamax}" %> <br>
                                        <%="Finaliza: #{subasta.fechainicio + 3.days}" %> <br>
                                        <td><%= link_to "Pujar",pujar_path(subasta.id),class: "btn btn-success"%>
                                      <%end%>
                                    </td>
                                  </tr>
                              </tbody>
                      <%end%>
                      <%end%>
                  <%else%>
                      <% if (Date.today <= fechafin) && (!Reservation.find(subasta.reservation_id).try(:adjudicada?)) %>
                      <tbody>
                          <tr>
                            <% id_home = Reservation.find(subasta.reservation_id).home_id %>
                            <th scope="row"><%= Home.find(id_home).nombre %></th>
                            <th><%= Home.find(id_home).ciudad %></th>
                            <td><%= Reservation.find(subasta.reservation_id).fecha_ini %></td>

                            <td>
                              <% if subasta.fechainicio > Date.today %>
                                <%= "Comienza: #{subasta.fechainicio}" %><br>
                                <td><%= link_to "Adjudicarme la reserva",confirm_path(Reservation.find(subasta.reservation_id)),class: "btn btn-success"%>
                              <% else %>
                                <%= "Ya iniciada! Puja Actual: $#{subasta.pujamax}" %> <br>
                                <%="Finaliza: #{subasta.fechainicio + 3.days}" %> <br>
                                <td><%= link_to "Pujar",pujar_path(subasta.id),class: "btn btn-success"%>
                              <%end%>
                            </td>
                          </tr>
                      </tbody>
                  <%end%>
                <% end %>
              <%end%>
              </table>
          </div>
          <td><%= link_to "Volver",:back,class: "btn btn-primary"%>
          <%else%>

              <%= form_tag auctions_path , method: :get  do %>
                <%= text_field_tag :search, params[:search] , placeholder: "Que estas buscando" %>
                <%= submit_tag "buscar" ,class: "btn btn-primary" %>
                <br></br>
                <%= label_tag :Fecha_de_inicio %>
                <%= date_field_tag :f_ini, params[:f_ini] , start_year: Date.today.year, :default => nil  %>
                <%= label_tag :Fecha_de_fin %>
                <%= date_field_tag :f_fin, params[:f_fin] , start_year: Date.today.year , :default => nil %>
              <% end %>

              <% mostrar = true %>
              <% if @fi!=nil && @ff!=nil%>
              <%x = @fi + 2.months%>
              <%if @ff > x %>
                <%= "asdasd" %>
                <% mostrar = false %>
              <%end%>
              <%end%>

              <div class="container-fluid">
              <div class="p-3 mb-2 bg-primary text-white">
                  <h1> Listado de subastas </h1>
              </div>

              <table class="table table-dark">
                <thead>
                <tr>
                  <th scope="col">Titulo</th>
                  <th>Ciudad</th>
                  <th scope="col">Fecha de reserva</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>

                  <% @subastas.each do |subasta| %>
                    <% fechafin = subasta.fechainicio %>
                    <% fechafin += 3 %>
                    <% if @fi!=nil && @ff!=nil && @h!=nil%>
                          <% @h.each do |home| %>
                          <% if (Date.today <= fechafin) && Reservation.find(subasta.reservation_id).fecha_ini >= @fi && Reservation.find(subasta.reservation_id).fecha_ini <= @ff && mostrar  && home.nombre==Home.find(Reservation.find(subasta.reservation_id).home_id).nombre%>
                              <tbody>
                                  <tr>
                                    <th scope="row"><%= subasta.titulo %></th>
                                    <% id_home = Reservation.find(subasta.reservation_id).home_id %>
                                    <th><%= Home.find(id_home).ciudad %></th>
                                    <td><%= Reservation.find(subasta.reservation_id).fecha_ini %></td>
                                    <td>
                                      <% if subasta.fechainicio > Date.today %>
                                        <%= "Comienza: #{subasta.fechainicio}" %> <br>
                                        <a href="/homes" class="btn btn-success" role="button"> Quiero ser premium! </button>

                                      <% else %>
                                        <%= "Ya iniciada" %> <br>
                                        <%="Finaliza: #{subasta.fechainicio + 3.days}" %> <br>
                                        <td><%= link_to "Pujar",pujar_path(subasta.id),class: "btn btn-success"%>
                                      <%end%>
                                    </td>
                                  </tr>
                              </tbody>
                          <%end%>
                          <%end%>
                    <%else%>
                      <% if (Date.today <= fechafin) %>
                      <tbody>
                          <tr>
                            <th scope="row"><%= subasta.titulo %></th>
                            <% id_home = Reservation.find(subasta.reservation_id).home_id %>
                            <th><%= Home.find(id_home).ciudad %></th>
                            <td><%= Reservation.find(subasta.reservation_id).fecha_ini %></td>
                            <td>
                              <% if subasta.fechainicio > Date.today %>
                                <%= "Comienza: #{subasta.fechainicio}" %> <br>
                                <a href="/homes" class="btn btn-success" role="button"> Quiero ser premium! </button>

                              <% else %>
                                <%= "Ya iniciada" %> <br>
                                <%="Finaliza: #{subasta.fechainicio + 3.days}" %> <br>
                                <td><%= link_to "Pujar",pujar_path(subasta.id),class: "btn btn-success"%>
                              <%end%>
                            </td>
                          </tr>
                      </tbody>
                    <%end%>
                    <% end %>
                  <%end%>
                </table>
            </div>
            <td><%= link_to "Volver",:back,class: "btn btn-primary"%>
        <%end%>
<%else%>
    <script type="text/javascript">
      window.location.href="/users/sign_in"
    </script>
<%end%>
