<section id="main"
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
					Listado de reservas</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<tr>
					<th>Nombre</th>
					<th>Fecha de inicio</th>
				</tr>
				<%res=Reservation.all%>
				<%res.each do |re|%>
				<%if re.subasta != nil %>
					<% @subastas.each do |sub| %>
						<% if (sub.fechainicio + 3.day) < (Date.today) %>
							<% sub.reservations.each do |res|%>
								<% if res.adjudicada == false %>
									<tr>
										<td><%= res.nombre %></td>
										<td><%= res.fecha_ini %></td>
										<% if res.hotsale == nil %>
											<td><%= link_to "Crear Hot-Sale",new_hotsale_path(:id => res.id),class: "btn btn-primary"%></td>
										<%else%>
											<td>Ya cuenta con Hot-Sale</td>
										<%end%>
									</tr>
								<%else%>
									<tr>
										<td><%= res.nombre %></td>
										<td><%= res.fecha_ini %></td>
										<td>Reserva adjudicada a <%=User.find(res.id_adjudicado).nombre%></td>
									</tr>
								<%end%>
							<%end%>
						<%else%>
					    	<% sub.reservations.each do |res|%>
							<tr>
								<td><%= res.nombre %></td>
								<td><%= res.fecha_ini %></td>
							</tr>
							<% end %>
						<%end%>
					<%end%>
				<%else%>
					<tr>
						<td><%= re.nombre %></td>
						<td><%= re.fecha_ini %></td>
					</tr>
				<%end%>
				<%end%>
			</table>
		</div>
	</div>
</section>
