<%= if @home.erros.any? %>
	<div class="alert">
	<p> El nombre de la residencia ya exite </p>
	</div>	
<%end%>
<%= form_for @home do |f| %>
	<div class="form-group">
		<%= f.label :nombre, 'Nombre' %>
		<%= f.text_field :nombre, class: 'form-control', placeholder: 'Inserte el nombre de la residencia', required: true %>
	</div>

	<div class="form-group">
		<%= f.label :ciudad, 'Ciudad' %>
		<%= f.text_field :ciudad, class: 'form-control', placeholder: 'Inserte nombre de ciudad', required: true %>
	</div>

	<div class="form-group">
		<%= f.label :direccion, 'Direccion' %>
		<%= f.text_field :direccion, class: 'form-control', placeholder: 'Inserte direccion', required: true %>
	</div>

	<div class="form-group">
		<%= f.label :canthabitacion, 'Cantidad de habitaciones' %>
		<%= f.number_field :canthabitacion, class: 'form-control', in:1..10, placeholder: 'Inserte numero de habitaciones', required: true %>
	</div>

	<button class="btn btn-primary" type="submit">Guardar</button>

<%end%>
