<%= form_for @home do |f| %>
	<div class="form-group">
		<%= f.label :nombre, 'Name' %>
		<%= f.text_field :nombre, class: 'form-control', placeholder: 'Insert name' %>
	</div>

	<div class="form-group">
		<%= f.label :ubicacion, 'Location' %>
		<%= f.text_field :ubicacion, class: 'form-control', placeholder: 'Insert location' %>
	</div>

	<div class="form-group">
		<%= f.label :canthabitacion, 'Number of rooms' %>
		<%= f.number_field :canthabitacion, class: 'form-control', placeholder: 'Insert rooms(number)' %>
	</div>

	<div class="form-group">
		<%= f.label :disponibilidad, 'Availability' %>
		<%= f.text_field :disponibilidad, class: 'form-control', placeholder: 'Enter availability information' %>
	</div>

	<button class="btn btn-primary" type="submit">Submit home</button>

<% end %>
