<%= form_for @home do |f| %>
	<div class="form-group">
		<%= f.label :nombre, 'Nombre' %>
		<%= f.text_field :nombre, class: 'form-control', placeholder: 'Inserte el nombre de la residencia', required: true %>
	</div>

	<div class="form-group">
		<%= f.label :ubicacion, 'Ubicacion' %>
		<%= f.text_field :ubicacion, class: 'form-control', placeholder: 'Inserte ubicacion', required: true %>
	</div>

	<div class="form-group">
		<%= f.label :canthabitacion, 'Cantidad de habitaciones' %>
		<%= f.number_field :canthabitacion, class: 'form-control', in:1..10, placeholder: 'Inserte numero de habitaciones', required: true %>
	</div>

	<button class="btn btn-primary" type="submit">Guardar</button>

<%end%>
